@mixin placeholder-style {
    font-style: italic;
    padding-left: 10px;
    color: $base-color;
}

@mixin base-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @content;
}

@mixin shadows {
    box-shadow: 5px 5px 5px $base-color;
    @content;
}