
body {
    @include base-style;
}

#lightgallery {
    @include base-style {
        padding: 0px;
        list-style: none;
    }
}

/*Added a media query to restrict the gallery width for larger resolutions.*/
main {
    @media (min-width: $larger) {
        max-width: 1100px;
    }
}
