body {
    @include base-style;
}

#thumb-list {
    @include base-style {
        padding: 0px;
        list-style: none;
    }
}

.thumb a {
    @include base-style;
}

main {
    @media (min-width: $larger) {
        max-width: 1100px;
    }
}
