#lightgallery img {
    margin: 30px;
    @include shadows;
    transition: all .4s;
    &:hover {
        transform: scale(1.05, 1.05);
    }
}

/*lightbox styling*/
.lightbox img {
    border: none;
}

.lightbox__caption p {
    font-size: 1.1rem;
}

