/*Styling for the search bar and search bar section. */
section {
    width: 100%;
    text-align: center;
    margin-top: 75px;
}

#search {
    width: 90%;
    padding: 10px;
    border: 2px solid $base-color;
    border-radius: 4px;
    @media (min-width: $mobile) {
        width: 450px;
    }
    &:hover,
    &:focus {
        border: 2px solid black;
    }
}

/* The follow adjusts the 'Search' placeholder position in different browsers. */
::-webkit-input-placeholder { /*Edge*/ 
    @include placeholder-style;
  }
  
:-ms-input-placeholder { /*Internet Explorer 10-11*/
    @include placeholder-style;
  }
  
::placeholder {
    @include placeholder-style;
  }
